@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Trad:wght@100..400&display=swap');;

@layer base {
  body {
    @apply antialiased;
  }
}

.logo-font {
  font-family: 'Pacifico', cursive;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Mobile menu animation */
.mobile-menu {
  transform-origin: top;
  animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}